{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
            <p align="justify">
                E-commerce businesses may also employ some or all of the following:

            Online shopping for retail sales direct to consumers via web sites and mobile apps, conversational commerce via live chat, chatbots, and voice assistants.[4]
            Providing or participating in online marketplaces, which process third-party business-to-consumer (B2C) or consumer-to-consumer (C2C) sales;
            Business-to-business (B2B) buying and selling.[5]
            Gathering and using demographic data through web contacts and social media.
            B2B electronic data interchange.
            Marketing to prospective and established customers by e-mail or fax (for example, with newsletters).
            Engaging in pretail for launching new products and services.
            Online financial exchanges for currency exchanges or trading purposes.
            There are five essential categories of E-commerce:[6]
            <br/><br/>
            Business to Business
            Business to Consumer
            Business to Government
            Consumer to Business
            Consumer to Consumer
            </p>
            </div>
        </center>
    </div>
</div>       

{% endblock %}